* {
  font-family: "Reddit Mono", monospace;
}

body {
  margin: 0;
  font-family: "Reddit Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

code {
  font-family: "Reddit Mono", monospace;
}
